body { background: #e0f0f0; color: #ffffff; }
h1, h2, h3, h4, li, p, table {font-family: Verdana, Arial, Helvetica, sans-serif; color:#002020}
h1 {font-size: 18pt}
h2 {font-size: 16pt}
h3 {font-size: 12pt}
h4 {font-size: 10pt}

pre {color:#202080; font-style: bold}
li {line-height: 1.5em}
table {font-size:13}
p { color:#202040; background-color: #e0f0f0}
A:link:hover {
	color: #ff0000;
}
A:link {color: #404080; }
A:Text {color: #2020A0; }
A:Vlink (color: #FF0000; }

