/* Define colors, fonts and other style attributes here to override the defaults */

/* Page background color */
body { background-color: #FFFFFF }

h1, h2, h3, h4, li, p, table {font-family: Verdana, Arial, Helvetica, sans-serif; color:#002020}
h1 {font-size: 18pt}
h2 {font-size: 16pt}
h3 {font-size: 12pt}
h4 {font-size: 10pt}

/* Table colors */
.TableHeadingColor     { background: #CCCCFF; border: solid 1pt black } /* Dark mauve */
.TableSubHeadingColor  { background: #EEEEFF; border: solid 1pt black  } /* Light mauve */
.TableRowColor         { background: #FFFFFF } /* White */
.TableBoldFont         { font-family: Arial, Helvetica, sans-serif; font-weight: bold; color:#000000;  }

.TableRowFont1 { font-family: Arial, Helvetica, sans-serif; color:#000000;}
.TableRowFont2 { font-family: Arial, Helvetica, sans-serif; color:#000000;}
.TableRowCell1    { background-color:#EEEEFF;}/* Light mauve */
.TableRowCell2    { background-color:#EEFFEE;}


/* Example of smaller, sans-serif font in frames */
/* .FrameItemFont  { font-size: 10pt; font-family: Helvetica, Arial, sans-serif } */

/* Navigation bar fonts and colors */
.NavBarCell1    { background-color:#EEEEFF;}/* Light mauve */
.NavBarCell1Rev { background-color:#00008B;}/* Dark Blue */
.NavBarFont1    { font-family: Arial, Helvetica, sans-serif; color:#000000;}
.NavBarFont1Rev { font-family: Arial, Helvetica, sans-serif; color:#FFFFFF;}

.NavBarCell2    { font-family: Arial, Helvetica, sans-serif; background-color:#FFFFFF;}
.NavBarCell3    { font-family: Arial, Helvetica, sans-serif; background-color:#FFFFFF;}

